* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: #f3ede5;
}
.container {
  height: 100vh;
  width: 80vw;
  margin: auto;
  color: #747474;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar .logo {
  cursor: pointer;
}

.navbar ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 20px;
  cursor: pointer;
}
.navbar span {
  display: inline-block;
}
.btn {
  display: inline-block;
  padding: 14px 28px;
  background-color: #133416;
  color: #ffffff;
  font-weight: 500;
  font-size: smaller;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}
.navbar .sign-in {
  background: transparent;
  color: #747474;
  padding: 20px;
}

.content {
  width: 100%;
  height: 64%;
  margin: 30px 0;
  position: relative;
  padding-top: 30px;
}
.content-info {
  width: 70%;
}
.content-info h1 {
  font-size: 3em;
  margin: 10px 0 20px;
  width: 650px;
  color: #000000;
}
.content-info h1 span {
  color: #f7b300;
}
.content-info p {
  margin: 0 0 20px;
  width: 650px;
}

.content-info a {
  margin-bottom: 18px;
}

.ratings p {
  display: inline-block;
}

.ratings img {
  width: 20px;
  margin: 0 8px;
}

.profile {
  position: absolute;
  top: 34px;
  text-align: center;
  right: 0;
}

.profile img {
  width: 280px;
  height: 320px;
}
footer {
  margin: auto;
}
footer p {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 20px;
}
footer img {
  height: 45px;
  margin: 0 30px;
}
